<h1>Collection List</h1>
<div class="container">
  <div class="form-container">
    <form action="/artist-search" method="get">
      <input type="text" name="name" />
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>

<p></p>
<button><a href="/album-details/:id">See details</a></button>
<form action="/user/collection/:id" method="post">
  <button type="submit">Add to collection</button>
</form>

<div class="collections">
  {{#each user.collections}}
    <p>{{this.artists}}</p>
    <p>{{this.title}}</p>

    <img src="{{this.image}}" alt="cover {{this.title}}" />
    <form action="/user/collection/{{_id}}/delete" method="post">
      <button type="submit">Delete from collection</button>
    </form>
  {{/each}}

</div>