<h1>Collection List</h1>
<div class="container">
  <div class="form-container">
    <form action="/artist-search" method="get">
      <input type="text" name="name" />
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>

<p></p>

<div class="collections">
  {{#each user.collections}}
    <p>Artist: {{this.artist}}</p>

    <a href="/album-details/{{this.apiId}}"><p
        class="card__title"
      >{{this.title}}</p></a>

    <img src="{{this.image}}" alt="cover {{this.title}}" />
    <form action="/user/collection/{{_id}}/delete" method="post">
      <button type="submit">Delete from collection</button>
    </form>
  {{/each}}

</div>