<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/user">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Disque_Vinyl.svg/1024px-Disque_Vinyl.svg.png"
        width="40"
        height="40"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/user/collection">My Collection</a>
            <a class="navbar-item" href="/user/wishlist">My Wishlist</a>
      
      </div>
    </div>

    {{!-- <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/user/collection">My Collection</a>
            <a class="navbar-item" href="/user/wishlist">My Wishlist</a>
      
      </div> --}}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        
          <a class="button is-primary" href="/user"><strong
            >Back to profile</strong></a>
            <a class="button is-primary" href="/auth/logout"><strong
            >Logout</strong></a>
            
        </div>
      </div>
    </div>
  </div>
</nav>



<h1 class="page-title">{{user.username}}'s Collection</h1>

<div class="collections">
  {{#each user.collections}}
  <div class="album-result">
    <div class="search-card-album">
    <p>{{this.artist}}</p>

    <a  class="album-title-link" href="/album-details/{{this.apiId}}">{{this.title}}</a>

    <img src="{{this.image}}" alt="cover {{this.title}}" />
    <form action="/user/collection/{{_id}}/delete" method="post">
      <button class="button is-danger" type="submit">Delete from collection</button>
    </form>
    </div>
    </div>
  {{/each}}

</div>

<div class="search-form">
<div class="user-card">

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{user.image}}" alt="user image">
        </figure>
      </div>
      {{#if user.collections}}
      <div class="media-content">
        <p class="username">Continue Searching</p>
      </div>
      {{else}}
      <div class="media-content">
        <p class="username">Start adding to your collections</p>
      </div>
      {{/if}}
      
    </div>
  
  <div class="navbar-center">
<div class="field has-addons">
  <div class="control">
      <form action="/artist-search" method="get">
    <input class="input" type="text" name="name" placeholder="Find an artist">
  </div>
  <div class="control">
      <button class="button is-primary">
Search
      </button>
   
    </form>
  </div>
</div>
</div>
</div>
</div>