<h1>wishlist</h1>
<div class="container">
  <div class="form-container">
    <form action="/artist-search" method="get">
      <input type="text" name="name" />
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>

<p></p>

<div>
  {{#each user.wishlist}}
    <div class="card">
      <p class="card__artist">{{this.artist}}</p>
      <p class="card__title">{{this.title}}</p>

      <img
        class="card__image"
        src="{{this.image}}"
        alt="cover {{this.title}}"
      />
      <form action="/user/wishlist/{{_id}}/delete" method="POST">
        <button class="card__button" type="submit">Delete from wishlist</button>
      </form>
    </div>
  {{/each}}

</div>