<h1> Album Details </h1>

<p>{{this.name}}</p>

{{#each albumDetails}}
  <div class="album-details">
    <p>{{this.image}}</p>
    <p>{{albumDetails.name}}</p>
    <p>{{this.id}}</p>
    <p>{{this.name}}</p>
    <p>{{name}}</p>
    <p>{{this.year}}</p>
    <img src="{{this.thumb}}" alt="{{this.title}}" />

  </div>
{{/each}}