{{#each albumDetails.artists}}
  <h1> {{name}} </h1>
{{/each}}

<div class="album-details">
  <ol>
    <p>Tracklist</p>
    {{#each albumDetails.tracklist}}

      <li> {{title}}</li>

    {{/each}}
  </ol>

  <p>Year: {{albumDetails.year}}</p>

  <p>Title: {{albumDetails.title}}</p>

  <p>Genre: <a href="/"> {{albumDetails.genres}}</a></p>

  {{#each albumDetails.images}}

    <img src="{{uri}}" alt="" />

  {{/each}}

</div>