<h1>Related {{albumDetails.genres}} albums</h1>

{{#each artistList}}
  <div class="genres">
    <img src="{{this.thumb}}" alt="{{this.title}}" />
    <a href="/album/{{this.title}}" class="albumBtn">{{this.title}}</a>

  </div>
{{/each}}